# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [7]:
import pandas as pd
import scipy.stats as st
import numpy as np

df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
print(df.head())

#H0: Dragon Pokemon have a higher average HP than Grass Pokemon
#H1: Dragon Pokemon have a lower average HP than Grass Pokemon

import pandas as pd
from scipy.stats import ttest_ind

dragon_hp = df[(df["Type 1"] == "Dragon") | (df["Type 2"] == "Dragon")]["HP"]
grass_hp = df[(df["Type 1"] == "Grass") | (df["Type 2"] == "Grass")]["HP"]

t_test = st.ttest_ind(dragon_hp, grass_hp, equal_var=False)
print(t_test)

alpha = 0.05
if t_test.pvalue < alpha:
   print(f"Reject the null hypothesis, Dragon Pokemon have a higher average HP than Grass Pokemon.")
else:
    print(f"Fail to reject the null hypothesis: No significant difference in average HP.")

            Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0      Bulbasaur  Grass  Poison  45      49       49       65       65     45
1        Ivysaur  Grass  Poison  60      62       63       80       80     60
2       Venusaur  Grass  Poison  80      82       83      100      100     80
3  Mega Venusaur  Grass  Poison  80     100      123      122      120     80
4     Charmander   Fire     NaN  39      52       43       60       50     65

   Generation  Legendary
0           1      False
1           1      False
2           1      False
3           1      False
4           1      False
TtestResult(statistic=4.097528915272702, pvalue=0.00010181538122353851, df=77.58086781513519)
Reject the null hypothesis, Dragon Pokemon have a higher average HP than Grass Pokemon.

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [21]:
#Set the hypothesis

#H0: Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary.
#H1: Pokemons does not have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary.

stats = ['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']

legendary_pokemons = df[df["Legendary"] == True]
nonlegendary_pokemons = df[df["Legendary"] == False]

for stat in stats:
    legendary_df = legendary_pokemons[stat]
    non_legendary_df = nonlegendary_pokemons[stat]

t_test = st.ttest_ind(legendary_df, non_legendary_df, equal_var=False)
print(t_test)

alpha = 0.05
if t_test.pvalue < alpha:
   print(f"Reject the null hypothesis there is a statistically significant difference in {stat} between Legendary and non legendary Pokemon.")
else:
    print(f"Fail to reject the null hypothesis there is no statistically significant difference in {stat} between Legendary and non legendary Pokemon.")

TtestResult(statistic=11.47504444631443, pvalue=1.049016311882451e-18, df=81.62110995711882)
Reject the null hypothesis there is a statistically significant difference in Speed between Legendary and non legendary Pokemon.

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [174]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [185]:
df["longitude"].dtype

dtype('float64')

In [202]:
#Set the hypothesis

#H0: houses close to either a school/hospital are more expensive
#H1: houses close to either a school/hospital are not so expensive

import pandas as pd
import numpy as np
from scipy import stats

df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")

school_coordinates = (-118, 37)
hospital_coordinates = (-122, 34)

def calculate_distance(lon, lat, coords):
    return np.sqrt((lon - coords[0])**2 + (lat - coords[1])**2)

df['distance_to_school'] = df.apply(lambda row: calculate_distance(row['longitude'], row['latitude'], school_coordinates), axis=1)
df['distance_to_hospital'] = df.apply(lambda row: calculate_distance(row['longitude'], row['latitude'], hospital_coordinates), axis=1)

df['close_to_school_or_hospital'] = df[['distance_to_school', 'distance_to_hospital']].min(axis=1) < 0.50

close_houses = df[df['close_to_school_or_hospital']]
far_houses = df[~df['close_to_school_or_hospital']]

# Two Sample T Test
t_stat, p_value = stats.ttest_ind(close_houses['median_house_value'], far_houses['median_house_value'], equal_var=False)

print("T-Statistic:", t_stat, "P-Value:", p_value)

alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: Houses close to a school or hospital are more expensive.")
else:
    print("Fail to reject the null hypothesis: No significant difference in house prices.")

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
7577    -118.37     36.19                10.0        443.0           111.0
7578    -118.37     34.43                11.0      17339.0          2866.0
7579    -118.37     34.24                40.0       1283.0           246.0
7580    -118.37     34.23                32.0       1444.0           317.0
7581    -118.37     34.22                17.0       1787.0           463.0
...         ...       ...                 ...          ...             ...
7683    -118.37     33.81                36.0       2031.0           339.0
7684    -118.37     33.81                36.0       1283.0           209.0
7685    -118.37     33.81                33.0       5057.0           790.0
7686    -118.37     33.79                36.0       1596.0           234.0
7687    -118.37     33.77                26.0       6339.0           876.0

      population  households  median_income  median_house_value
7577        48.0        21.0         3.1250             71300.0
7578      8721.0      2803.0         5.9507            225200.0
7579       594.0       236.0         4.1121            229200.0
7580      1177.0       311.0         3.6000            164600.0
7581      1671.0       448.0         3.5521            151500.0
...          ...         ...            ...                 ...
7683       817.0       337.0         5.1271            458300.0
7684       563.0       209.0         6.9296            500001.0
7685      2021.0       748.0         6.8553            482200.0
7686       654.0       223.0         8.2064            500001.0
7687      2540.0       880.0        10.1447            500001.0

[111 rows x 9 columns]
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
15553    -122.34     41.21                26.0        178.0            40.0
15554    -122.34     41.06                33.0       2149.0           498.0
15555    -122.34     40.63                10.0       2183.0           369.0
15556    -122.34     40.58                 7.0       4843.0           992.0
15557    -122.34     40.57                26.0       2187.0           472.0
15558    -122.34     40.57                24.0       1610.0           307.0
15559    -122.34     40.51                16.0       2247.0           502.0
15560    -122.34     40.32                12.0       3848.0           689.0
15561    -122.34     37.99                42.0       1531.0           326.0
15562    -122.34     37.98                33.0       2014.0           410.0
15563    -122.34     37.96                33.0       1817.0           441.0
15564    -122.34     37.96                15.0       6487.0          1717.0
15565    -122.34     37.95                44.0       1788.0           368.0
15566    -122.34     37.95                44.0       1675.0           317.0
15567    -122.34     37.95                39.0       1986.0           427.0
15568    -122.34     37.95                38.0       1340.0           298.0
15569    -122.34     37.94                47.0       2313.0           433.0
15570    -122.34     37.94                44.0       1917.0           444.0
15571    -122.34     37.94                42.0       2206.0           451.0
15572    -122.34     37.94                31.0       1611.0           455.0
15573    -122.34     37.93                45.0       2225.0           486.0
15574    -122.34     37.93                32.0       2389.0           652.0
15575    -122.34     37.93                30.0       2515.0           481.0
15576    -122.34     37.88                37.0       3061.0           930.0
15577    -122.34     37.59                44.0       1395.0           269.0
15578    -122.34     37.58                50.0       2784.0           743.0
15579    -122.34     37.57                52.0       2635.0           408.0
15580    -122.34     37.57                52.0       2547.0           373.0
15581    -122.34     37.57                39.0       2647.0           616.0
15582    -122.34     37.57                28.0       3751.0           949.0
15583    -122.34     37.55                44.0       2465.0           328.0
15584    -122.34     37.55                25.0       4470.0           518.0
15585    -122.34     37.53                27.0       3339.0           481.0
15586    -122.34     37.52                34.0       3559.0           560.0
15587    -122.34     37.46                21.0       1799.0           293.0

       population  households  median_income  median_house_value
15553        55.0        25.0         2.0375             57500.0
15554       631.0       273.0         1.8816             65800.0
15555      1061.0       325.0         3.6853            151600.0
15556      2223.0       932.0         3.0549            101700.0
15557      1339.0       463.0         2.0395             67900.0
15558       748.0       307.0         2.6591             82800.0
15559      1206.0       463.0         1.9946            119200.0
15560      2008.0       683.0         2.6352             92200.0
15561      1271.0       377.0         2.6167             85100.0
15562      1354.0       427.0         3.9773            131300.0
15563      1220.0       389.0         2.5382            103600.0
15564      3408.0      1560.0         2.1991            133300.0
15565       933.0       329.0         2.8750            133400.0
15566       806.0       311.0         3.0694            135300.0
15567      1041.0       385.0         3.2333            135100.0
15568       766.0       241.0         3.2833            111700.0
15569       947.0       430.0         3.9420            143300.0
15570       936.0       435.0         2.7391            140300.0
15571       989.0       444.0         3.1250            143900.0
15572       786.0       411.0         1.6810            145500.0
15573      1304.0       459.0         2.6400            112100.0
15574      1672.0       584.0         1.4423             88300.0
15575      1327.0       428.0         2.1287             95000.0
15576      2556.0       924.0         1.7375            350000.0
15577       736.0       288.0         5.6206            386400.0
15578      1622.0       698.0         3.8413            372200.0
15579       967.0       374.0         7.0422            500001.0
15580       876.0       359.0         8.2598            500001.0
15581      1254.0       555.0         4.2407            433800.0
15582      1691.0       846.0         3.9728            300000.0
15583       843.0       324.0         6.9533            500001.0
15584      1507.0       504.0        13.3913            500001.0
15585      1354.0       458.0         7.3081            464600.0
15586      1747.0       550.0         6.6959            411200.0
15587       576.0       277.0         7.4390            500001.0
TtestResult(statistic=array([ 1.42372091e+15, -2.06565124e+01, -3.21761053e-01, -1.78496380e-01,
        5.51416045e-01,  1.10933768e-02,  6.52119118e-01,  8.53028701e-01,
        2.78117721e+00]), pvalue=array([0.00000000e+00, 4.02894915e-21, 7.48842139e-01, 8.58677770e-01,
       5.82691152e-01, 9.91172111e-01, 5.15945743e-01, 3.98179261e-01,
       7.90896380e-03]), df=array([ 56.59520807,  34.81621377,  55.51591898, 104.79780341,
        91.59930726,  95.408922  ,  92.2591964 ,  44.81918867,
        44.56508495]))

/opt/anaconda3/lib/python3.12/site-packages/scipy/stats/_axis_nan_policy.py:563: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  res = hypotest_fun_out(*samples, axis=axis, **kwds)